In [1]:
# Problem: Find the cube root of a perfect cube
# Using while loop

x = int(input("enter a number:"))
ans = 0
while ans**3 < abs(x):
    ans += 1
if ans ** 3 != abs(x):
    print("x is not a perfect cube")
else:
    if x<0:
        print("ans is: -" + str(ans))
    else:
        print("ans is: " + str(ans))

enter a number:9
x is not a perfect cube

In [2]:
# Find the cube root of a perfect cube
# Using for loop


x = int(input("enter a number:"))
for ans in range(0,abs(x)+1):
    if ans**3 >= abs(x):
        break
if ans ** 3 != abs(x):
    print("x is not a perfect cube")
else:
    if x<0:
        print("ans is: -" + str(ans))
    else:
        print("ans is: " + str(ans))

enter a number:8
ans is: 2

In [3]:
# Key should be unique

my_dict={"name":"Pree","name":"soh"}
print(my_dict)

{'name': 'soh'}

In [4]:
# if a new value is assigned to a key that already exists ,it will simply overwrite the old one.
my_dict={"name":"Pree","name":"soh"}
print(my_dict)

{'name': 'soh'}

In [5]:
my_dict["name"]

'soh'

In [6]:
my_dict1={"name":"Pree","name1":"Pree"}
print(my_dict1)

{'name': 'Pree', 'name1': 'Pree'}

In [7]:
my_dict1["name"]

'Pree'

In [8]:
#print(my_dict1["name2"])

In [9]:
len(my_dict1)

2

In [10]:
"name" in my_dict1

True

In [11]:
"Pree" in my_dict

False

In [12]:
vals = my_dict.values()

In [13]:
"Pree" in vals

False

In [14]:
import os 
os.getcwd()

'D:\\Praxis Business School\\First Term\\PY-Python\\2.10.02.2022\\Python_Prog_Set_2'

In [15]:
y = open("file.txt","r")
x = y.read()
print(x)

Python supports more than one programming paradigms
including object-oriented programming and structured
programming
Python is an interpreted language and does
not require an explicit complination step.

In [16]:
y.close()

In [17]:
x= int(input("enter a number:"))
epsilon = 0.01
step = epsilon ** 2
num_guess = 0
ans = 0.0

while abs(ans**2 - x) >= epsilon and ans < x:
    ans = ans + step
    num_guess = num_guess +1
print("number of guess is :" + str(num_guess))
if abs(ans**2-x) >= epsilon:
    print("failed on square root")
else:
    print(str(ans) + " is the closest root")

enter a number:7
number of guess is :26439
2.643900000001155 is the closest root

In [18]:
x = 0.9
epsilon = 0.01
step = epsilon**2
numGuess = 0
ans = 0.0
while abs(ans**2 - x) >= epsilon and ans<x:
    ans += step
    numGuess +=1
print("numGuess = ", numGuess)
print(ans)
if abs(ans**2 - x) >= epsilon:
    print("Failed on square root of", x)
else:
    print(ans, " is close to square root of ", x)

numGuess =  9001
0.9000999999999172
Failed on square root of 0.9

In [19]:
# Takes a list of words and returns the length of the longest one

def return_max_length_word(a):
    max1 = len(a[0])
    temp = a[0]
    
    for i in a:
        if (len(i)> max1):
            max1 = len(i)
            temp = i
    print(f"max length word is: {temp}")
    print(f"{max1} is the max length of that word")

a = ["one", "two", "third", "four","preetam"]
return_max_length_word(a)

max length word is: preetam
7 is the max length of that word

In [20]:
#Get a single string from two given strings, separated by a space and swap the first two characters of each string

def single_string(a,b):
    new_a = b[:2] + a[2:]
    new_b = a[:2] + b[2:]
    return new_b  + " " + new_a 

p=single_string("preetam","saha")
print(p)

prha saeetam

In [21]:
#Remove the characters which have odd index values of a given string

def remove_char(a):
    str = ""
    for i in range(len(a)):
        if i%2 == 0 :
            str = str + a[i]
    return str

remove_char("preetam")

'petm'

In [22]:
#Construct a specified pattern, using a nested for loop
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

for i in range(1,6):
    for j in range(i):
        print("* ",end="")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
for i in range(2):
    print("pre")

pre
pre

In [24]:
# Calculate the number of digits and letters in a string

s = input("Enter input:")
d = 0
l = 0

for i in s:
    if i.isdigit():
        d= d+1
    else:
        l = l+1
print(f"digit = {d},string = {l}")

Enter input:5
digit = 1,string = 0

In [25]:
#Python program to check whether the given integer is a multiple of 5

s = int(input("Enter a number:"))
if s%5 == 0:
    print("divisible")
else:
    print("not divisible")

Enter a number:8
not divisible

In [26]:
# Python program to find the average of 10 numbers using while loop

count=0
sum = 0
while (count<10):
    number = int(input("number: "))
    sum = sum + number
    count += 1
print(sum/10)

number: 9
number: 9
number: 8
number: 8
number: 6
number: 8
number: 4
number: 7
number: 2
number: 7
6.8

In [27]:
# Python program to find the geometric mean of n numbers

c = 0
p = 1.0

count = int(input("enter the number:"))
while (c<count):
    number = float(input("enter the num:"))
    p = p * number
    c = c+1
print(p**(1.0/count))

enter the number:8
enter the num:8
enter the num:9
enter the num:9
enter the num:9
enter the num:8
enter the num:8
enter the num:8
enter the num:7
8.222865554918807

In [28]:
c = 0
p = 1.0
count = int(input("Enter the number of values: "))
while(c<count):
    x = float(input("Enter a real number: "))
    c = c+1
    p = p * x
gm = pow(p,1.0/count)
print("The geometric mean is: ",gm)

Enter the number of values: 7
Enter a real number: 7
Enter a real number: 6
Enter a real number: 7
Enter a real number: 8
Enter a real number: 9
Enter a real number: 4
Enter a real number: 5
The geometric mean is:  6.365253273702034

In [29]:
x=int(input("num"))
print(x)

num7
7

In [30]:
import math
x = math.factorial(10)
print(x)

3628800

In [31]:
x = isinstance(x,int)
print(x)

True

In [32]:
y = isinstance(6.2,float)
print(y)

True

In [33]:
def return_fact(n):
    if not isinstance(n,int):
        print("n must be an integer")
        return None
    elif n<0:
        print("n must be positive number")
        return None
    elif n==0:
        return 1
    else:
        return n*return_fact(n-1)
    
a=return_fact(7.9)
b=return_fact(-7.9)
c=return_fact(7)
print(a)
print(b)
print(c)

n must be an integer
n must be an integer
None
None
5040

In [34]:
#Python Program to Check Armstrong Number

n = int(input("Enter a number:"))

order = len(str(n))
sum = 0
copy_n = n

while(n!=0):
    digit = n%10
    sum = sum + digit ** order
    n = n//10
if copy_n == sum :
    print("number is armstrong number")
else:
    print("not armstrong number ")

Enter a number:7
number is armstrong number

In [35]:
#Count the Number of Occurrences of digit in a number using Python

n = int(input("enter a number:"))
d = int(input("enter a single digit:"))
num = n
count = 0

while(n!=0):
    digit = n%10
    if d == digit:
        count+=1
    n = n//10
print(f"{d} in {num} is " ,count,"times")

enter a number:8
enter a single digit:5
5 in 8 is  0 times

In [36]:
# Generation of the Fibonacci Series using Recursion (( input is given by its index or position))
def fibo(n):
    if n==0:
        return 0
    if n==1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
a = int(input("enter a number:"))
fibo(a)

enter a number:8

21

In [37]:
from datetime import date
d = date.today()
print(d)

2022-03-11

In [38]:
from datetime import datetime
dt = datetime.now()
print(dt)

2022-03-11 00:55:13.350260

In [39]:
d1 = date.today()
d1_form=d1.strftime("%d-%m-%y")
print(d1_form)

11-03-22

In [40]:
d2_form=d1.strftime("%A")
print(d2_form)

Friday

In [41]:
d3_form=d1.strftime("%B")
print(d3_form)

March

In [42]:
d3_form=d1.strftime("%D")
print(d3_form)

03/11/22

In [43]:
print(d1)

2022-03-11

In [44]:
then = date(2022,3,4)
diff = d-then
print(diff)

7 days, 0:00:00

In [45]:
diff.days

7

In [46]:
#Reverse the digits of a number using Python

n= int(input("enter a number:"))
num = n

reverse = ""

while(n!=0):
    digit = n%10
    reverse = reverse + str(digit) 
    n  = n//10

print(f"the reverse number of {num} is : {reverse}")

enter a number:5
the reverse number of 5 is : 5

In [47]:
#Reverse the digits of a number using Python

n= int(input("enter a number:"))
num = n

reverse = 0

while(n!=0):
    digit = n%10
    reverse = reverse*10 + (digit) 
    n  = n//10

print(f"the reverse number of {num} is : {reverse}")

enter a number:8
the reverse number of 8 is : 8

In [48]:
#Product of Digits of the number using Python
n= int(input("enter a number:"))
num = n
product = 1

while(n!=0):
    digit = n%10
    product = product * digit
    n = n//10
print(f"the product of the digits of {num} is : {product}")

enter a number:9
the product of the digits of 9 is : 9

In [49]:
#Python Program to Check Leap Year

n= int(input("enter a number:"))
if (n%400 == 0) and (n%100 == 0):
    print("leap")
elif (n%4 == 0) and (n%100 !=0):
    print("leap")
else:
    print("not leap")

enter a number:6
not leap

In [50]:
#Python Program to Print all Prime Numbers in an Interval

lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower,upper+1):
    if  num>1:
        for i in range(2,num):
            if num%i == 0:
                break
        else:
            print(num)

Enter lower range: 4
Enter upper range: 8
5
7

In [51]:

lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower,upper+1):
    if  num>1:
        for i in range(2,num):
            if num%i == 0:
                break
            else:
                print(num)

Enter lower range: 6
Enter upper range: 9
7
7
7
7
7
9

In [52]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower,upper+1):
    if  num>1:
        for i in range(2,num):
            if num%i == 0:
                break
        print(num)

Enter lower range: 3
Enter upper range: 6
3
4
5
6

In [53]:
num= int(input("Enter a value: "))
for i in range(2,num):
    if num%i ==0:
        break
print(num)

Enter a value: 7
7

In [54]:
num= int(input("Enter a value: "))
for i in range(2,num):
    if num%i ==0:
        break
else:
    print(num)

Enter a value: 5
5

In [55]:
num= int(input("Enter a value: "))
for i in range(2,num):
    if num%i ==0:
        break
    else:
        print(num)

Enter a value: 7
7
7
7
7
7

In [56]:
#Python Program to Print all Prime Numbers in an Interval

lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))


for i in range(lower,upper+1):
    flag = 0
    for j in range(2,i):
        if i%j == 0:
            flag = 1
            
    if (flag == 0):
        print(i)

Enter lower range: 5
Enter upper range: 8
5
7

In [57]:
#Python Program to Transpose a Matrix

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        result[j][i] = X[i][j]
        
#print(result)
for r in result:
    print(r)

[12, 4, 3]
[7, 5, 8]

In [58]:
## Python program to find H.C.F of two numbers

def cal_hcf(x,y): 
    if x>y:
        smaller = y
    else:
        smaller = x

    for i in range(1,smaller+1):
        if (x%i==0) and (y%i==0):
            hcf = i

    return hcf

a=cal_hcf(4,8)
print(a)

4

In [59]:
#Python Program to find the factors of a number
num = int(input("Enter a num:"))

print(f"the factors of {num} is:")
for i in range(1,num+1):
    if num%i == 0 :
        print(i,end=" ")

Enter a num:7
the factors of 7 is:
1 7

In [60]:
## Python program to find LCM of two numbers

def cal_lcm(x,y):
    if x>y:
        greater = x
    else:
        greater = y
    while True:
        if (greater%x == 0) and (greater%y==0):
            lcm = greater
            break
        greater+=1
    return lcm

In [61]:
cal_lcm(15,35)

105

In [62]:
# find the odd number of ouucurences of a number in a given list 

def find_odd(lst):
    for i in lst:
        if lst.count(i)%2 != 0:
            return i , lst.count(i)

In [63]:
find_odd([2,8,9,2,2,6])

(2, 3)

In [64]:
#Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself.
def add_index(lst):
    return [i+j for i,j in enumerate(lst)]

In [65]:
add_index([5,7,8])

[5, 8, 10]

In [66]:
#Write a function that takes a list of elements and returns only the integers.

def ret_int(lst):
    lst1= []
    for i in lst:
        if type(i) == int:
            lst1.append(i)
    return lst1

In [67]:
ret_int([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [68]:
def return_only_integer(lst):
    return [i for i in lst if type(i)==int]

In [69]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [70]:
#Write a function that takes a list and a number as arguments. Add the number to the end of the list, 
#then remove the first element of the list. 
#The function should then return the updated list.

def ret_list(lst,num):
    lst.append(num)
    lst.pop(0)
    return lst

In [71]:
ret_list([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [72]:
#Python program to check whether the given integer is a prime number or not

num = int(input("enter a num: "))
flag = 0
for i in range(2,num):
    if num%i == 0:
        flag = 1
        break
if (flag == 1):
    print("Not Prime")
else:
    print("Prime")

enter a num: 5
Prime

In [73]:
#Python program to generate the prime numbers from 1 to N
num = int(input("enter a num: "))

for i in range(2,num):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

enter a num: 9
2
3
5
7

In [74]:
#Python program to insert a number to any position in a list
lst = [2,3,4,5,6,7,8]
lst.insert(4,10)
print(lst)

[2, 3, 4, 5, 10, 6, 7, 8]

In [75]:
#Python program to implement matrix multiplication

X = [[8,5,1],
[9 ,3,2],
[4 ,6,3]]
Y = [[8,5,3],
[9,5,7],
[9,4,1]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y [k][j]
for r in result:
    print(r)

[118, 69, 60]
[117, 68, 50]
[113, 62, 57]

In [76]:
X = [[8,5,1],
[9 ,3,2]]

X[0][0]

8

In [77]:
2**16

65536

In [78]:
2**32

4294967296

In [79]:
#Create a function that takes two numbers as arguments (num, length) and 
#returns a list of multiples of num until the list length reaches length.

def multi(num,length):
    lst = []
    for i in range(1,length+1):
        lst.append(num*i)
    return lst

In [80]:
multi(5,7)

[5, 10, 15, 20, 25, 30, 35]

In [81]:
# Create a function that takes a dictionary of objects like { "name": "John", "notes": [3, 5, 4] } 
# and returns a dictionary of objects like { "name": "John", "top_note": 5 }.

def top_note(student):
    return {"name" : student["name"] , "top_note" : max(student["notes"])}

In [82]:
top_note({ "name": "Max", "notes": [1, 4, 6] })

{'name': 'Max', 'top_note': 6}

In [83]:
max([2,3,4])

4

In [84]:
#Python – Create acronyms from words


def create_acro(str):
    output=str[0]
    for i in range(1,len(str)):
        if str[i-1] == " ":
            output = output + str[i]
            output = output.upper()
    return output

In [85]:
create_acro("Preetam saha")

'PS'

In [86]:
#Question:
# Write a program that accepts a sentence and calculate the number of letters and digits.
# Suppose the following input is supplied to the program:
# hello world! 123
# Then, the output should be:
# LETTERS 10
# DIGITS 3


def return_output(sentence):
    dict = {"letter" : 0 , "digits" : 0}
    for i in sentence:
        if i.isalpha():
            dict["letter"] += 1
        elif i.isdigit():
            dict["digits"] += 1
        else:
            pass
    return dict

In [87]:
return_output("hello world! 123")

{'letter': 10, 'digits': 3}

In [97]:
# Question:
# Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
# Suppose the following input is supplied to the program:

def return_sum(a):
    sum = 0
    for i in range(1,5):
        x=int((str(a)*i))
        sum = sum + x
    return sum

In [92]:
a = int(input("Enter a number: "))
b=return_sum(a)
print(b)

Enter a number: 9

TypeError: 'int' object is not callable

In [90]:
y =str(9)
print(y)

9

In [98]:
return_sum(9)

11106

In [93]:
str(5)*2

'55'

In [94]:
int(str(5)*3)

555

In [100]:
# Define a function which can print a dictionary where the keys are numbers 
# between 1 and 20 (both included) and the values are square of keys.

def printdict():
    dict={}
    for i in range(1,21):
        dict[i]=i**2
    return dict

In [101]:
printdict()

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [3]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included)

l = []
for i in range(2000,3201):
    if (i%7 == 0) and (i%5!=0):
        l.append(str(i))
print(",".join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [5]:
print(",".join(['8','9']))

8,9

In [14]:
# Write a program which accepts a sequence of comma-separated numbers from console and 
# generate a list and a tuple which contains every number.

num = input("Enter 5 numbers:")
values = num.split(",")
values_int = list(map(lambda x: int(x),values))
print(values_int)

Enter 5 numbers:2,3,4,5,6
[2, 3, 4, 5, 6]

In [15]:
values_tuple = tuple(values_int)
print(values_tuple)

(2, 3, 4, 5, 6)

In [ ]:
# Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input 
# and then check whether they are divisible by 5 or not. 
# The numbers that are divisible by 5 are to be printed in a comma separated sequence.
# Example:
# 0100,0011,1010,1001

num = input("Enter a comma seperated 4 digit binary number: ")
nums=num.split(",")
if nums[-1] == 0 :
    print("number is ")

In [34]:
num = input("enter comma separated 4 digit binary numbers: ")
lst = []
nums = num.split(",")
for item in  nums:
    int_item=int(item,2)
    if int_item %5 ==0 :
        lst.append(item)
print(",".join(lst))

enter comma separated 4 digit binary numbers: 0100,0011,1010,1001
1010

In [21]:
c='4567'
int(c)

4567

In [26]:
c='4576'
int(c,8)

2430

In [27]:
c='4567'
int(c,10)

4567

In [28]:
c='4567'
int(c,16)

17767

In [35]:
#Write a program, which will find all such numbers between 1000 and 3000 (both included) 
#such that each digit of the number is an even number.

lst=[]
for i in range(1000,3001):
    str_i = str(i)
    for j in str_i:
        if (int(j)%2 != 0):
            break
    else:
        lst.append(str_i)
print(','.join(lst))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [37]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print (",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [4]:
#How to check if a string is a valid keyword in Python?

#In programming, a keyword is a “reserved word” by the language which conveys special meaning to the interpreter.
#It may be a command or a parameter. Keywords cannot be used as a variable name in the program snippet.

import keyword
lst = ["for","if","preetam","while","print","None","True","while"]

for i in range(len(lst)):
    if keyword.iskeyword(lst[i]):
        print(f"{lst[i]} is a valid keyword")
    else:
        print(f"{lst[i]} is not a valid keyword")

for is a valid keyword
if is a valid keyword
preetam is not a valid keyword
while is a valid keyword
print is not a valid keyword
None is a valid keyword
True is a valid keyword
while is a valid keyword

In [6]:
# Instructions written in the source code for execution are called statements.
#Comments are the useful information that the developers provide to make the reader understand the source code.


# There are different types of statements in the Python programming language like Assignment statements, 
#Conditional statements, Looping statements, etc. These all help the user to get the required output. 
# For example, n = 50 is an assignment statement.
# Multi-Line Statements: 
# Statements in Python can be extended to one or more lines using parentheses (), braces {}, square brackets [], 
#semi-colon (;),continuation character slash (\).
# When the programmer needs to do long calculations and cannot fit his statements into one line, 
# one can make use of these characters.

s = 1+2 \
    +3
print(s)

6

In [8]:
#Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700

for i in range(1500,2701):
    if (i%7 == 0) and (i%5 == 0):
        print(i,end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [9]:
lst=[]
for i in range(1500,2701):
    if (i%7 == 0) and (i%5 == 0):
        lst.append(str(i))
print(",".join(lst))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [10]:
len(lst)

35

In [17]:
#Write a Python program to sum of two given integers. if the sum is between 15 to 20 it will return 20

def myfunc(num1,num2):
    s  = num1+num2
    if (s>=15) and (s<=20):
        return 20
    else:
        return s

In [16]:
num1 = int(input("Enter first num:"))
num2 = int(input("Enter second num:"))

myfunc(num1,num2)

Enter first num:10
Enter second num:20

30

In [23]:
#Python program to find the maximum ODD number

n=0               #loop counter
num = 0           #to store the input value
nummax = 0        #to store max odd num
while (n<3):
    num = int(input("Enter a num:"))
    if num%2 != 0 :
        if num > nummax:
            nummax = num
    n+=1
print(nummax)

Enter a num:678
Enter a num:1239
Enter a num:567
1239

In [60]:
#Python program to print perfect numbers from the given list of integers
#a perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself. 
#For instance, 6 has divisors 1, 2 and 3, and 1 + 2 + 3 = 6, so 6 is a perfect number.



def check_perfect_number(num):
    lst=[]
    for i in range(1,num):
        if num%i == 0:
            lst.append(i)
    total = 0
    for i in range(len(lst)):
        total = total + lst[i]
   
    if total == num :
        print(f"{num} is a perfect number")

if __name__=="__main__":
    lst1=[]
    n = int(input("no of elements in the list:"))
    for i in range(n):
        lst1.append(int(input()))
    for i in lst1:
        check_perfect_number(i)

no of elements in the list:5
6
28
496
678
500
6 is a perfect number
28 is a perfect number
496 is a perfect number

In [62]:
def sum_num(lst):
    total=0
    for i in range(len(lst)):
        total = total + lst[i]
    return total

sum_num([1,2,6])

9

In [61]:
lst=[5,9,6,9.5]
total=0
for i in range(len(lst)):
    total = total + lst[i]
print(total)

29.5

In [71]:
#Using while loop and an if statement write a function named name_adder which appends all the elements in a list to a new list 
#unless the element is an empty string: ""

def name_adder(lst1):
    my_lst = []
    for i in range(len(lst1)):
        if lst1[i] != "":
            my_lst.append(lst1[i])
    return my_lst

In [72]:
name_adder(["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"])

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [76]:
#Find the largest item from a given list
n= int(input("Enter a num: "))
l = []
for i in range(n):
    l.append(int(input()))

max_num = 0
c=0
while c < n:
    if l[c] > max_num:
        max_num = l[c]
    c+=1
print(f"max num is {max_num}")

Enter a num: 3
67
98
23
max num is 98

In [78]:
#Exercise 9: Calculate the sum and average of the digits present in a string
inp = input("Enter anything: ")
l=[]
for i in inp:
    if i.isdigit() == True:
        l.append(int(i))
total = 0
for i in l:
    total  = total + i
print("Sum: ", total)
print("Avg: ", total/len(l))

Enter anything: sjhgdhg7635bdsmbge3ey@3 xbajh099838dbee4
Sum:  68
Avg:  5.230769230769231

In [77]:
l=[2,3,5]
l.append(8)
print(l)

[2, 3, 5, 8]

In [80]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions

n= int(input("Enter a num: "))
l = []
for i in range(n):
    l.append(int(input()))
print(l)
for i in range(n):
    if i%2!=0:
        print(l[i])

Enter a num: 4
45
98
12
89
[45, 98, 12, 89]
98
89

In [82]:
#Exercise 8: Print list in reverse order using a loop
n= int(input("Enter a num: "))
l = []
for i in range(n):
    l.append(int(input()))
print(l)

reverse_lst =[]
for i in range(len(l)-1,-1,-1):
    reverse_lst.append(l[i])
print(reverse_lst)

Enter a num: 3
67
98
45
[67, 98, 45]
[45, 98, 67]

In [83]:
# Exercise 3: Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict["class"]["student"]["marks"]["history"])

80

In [86]:
#Initialize dictionary with default values

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees,defaults)
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [87]:
print(res["kelly"])

KeyError: 'kelly'

In [90]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

new_dict={}
for key in keys:
    new_dict[key] = sample_dict[key]
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

In [91]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
new_dict={}
for key in keys:
    new_dict.update({key:sample_dict[key]})
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

In [96]:
#Exercise 6: Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to delete
keys = ["name", "salary"]

for key in keys:
    sample_dict.pop(key)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [98]:
#Exercise 7: Check if a value exists in a dictionary
n= int(input("enter a num: "))
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if n in sample_dict.values():
    print("exists")
else:
    print("Does not exist")

enter a num: 8990
Doesnot exist

In [100]:
#Exercise 10: Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict["emp3"]["salary"] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [101]:
y=range(10)
print(y)

range(0, 10)

In [104]:
z = range(10,100,5)
print(len(z))

18

In [111]:
y = 1
for x in range (4, 34, 4):
    y = y + x
    if (y > 512):
        break
    print(y)

5
13
25
41
61
85
113
145

In [112]:
y = 1
for x in range (4, 34, 4):
    y = y + x
    if (y > 40):
        break
    print(y)

5
13
25

In [114]:
y = 1
for x in range (4, 34, 4):
    y = y + x
    if (y > 40):
        break
    else:
        print(y)

5
13
25

In [116]:
y = 1
for x in range (4, 34, 4):
    y = y + x
    if (y == 41):
        continue
    print(y)

5
13
25
61
85
113
145

In [117]:
#Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) 
#such that is an integral number between 1 and n (both included). 
#and then the program should print the dictionary

n = int(input("Enter a num: "))
dict = {}
for i in range(n):
    dict[i+1] = (i+1)**2
print(dict)

Enter a num: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [118]:
import os
os.getcwd()

'D:\\Praxis Business School\\First Term\\PY-Python\\2.10.02.2022\\Python_Prog_Set_2'

In [122]:
# Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence 
#capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, 
#the output should be: HELLO WORLD PRACTICE MAKES PERFECT

lines=[]
while True:
    inp = input()
    if inp:
        lines.append(inp.upper())
    else:
        break

for sentence in lines:
    print(sentence)

dshghjs6778
4535gsgdshhjj
m,njhdfFLjdsj8376%%$fmv
chhj647F:v,vcjiofrie dghhdshjds

DSHGHJS6778
4535GSGDSHHJJ
M,NJHDFFLJDSJ8376%%$FMV
CHHJ647F:V,VCJIOFRIE DGHHDSHJDS

In [126]:
#Question: Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. 
#Suppose the following input is supplied to the program: 
#Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

inp = input()
upper_count = 0
lower_count = 0
for i in inp:
    if i.isupper() == True:
        upper_count += 1
    elif i.islower() == True:
        lower_count += 1
    else:
        pass
print(f"upper case: {upper_count}, lower case: {lower_count}")

Hello world!
upper case: 1, lower case: 9

In [154]:
#Question: Write a program to compute the frequency of the words from the input. 
#The output should output after sorting the key alphanumerically.

def freq(str):
    str = str.split()
    str2=[]
    for i in str:
        if i not in str2:
            str2.append(i)
            str2.sort()
    for i in range(len(str2)):
        print(f"{str2[i]}: {str.count(str2[i])}")
def main():
    str = input()
    freq(str)
    
if __name__=="__main__":
    main()

the boy is boy zebra apple zebra boy the apple
apple: 2
boy: 3
is: 1
the: 2
zebra: 2

In [151]:
lst = ["pree","pree","is"]
lst.count("pree")

2

In [132]:
d = {1:"p",1:"i"}
d.values()

dict_values(['i'])

In [153]:
lst = ["pree","aree","is"]
lst.sort()
lst

['aree', 'is', 'pree']

# Function

In [1]:
#fucntion with default arguments
#1.
def displayFruits(fruits=["apple","banana"]):
    print(f"there are {len(fruits)} fruits in the list")
    for item in fruits:
        print(item)

displayFruits()

there are 2 fruits in the list
apple
banana

In [2]:
#2. actual paramter overrules the formal paramter
def displayFruits(fruits=["apple","banana"]):
    print(f"there are {len(fruits)} fruits in the list")
    for item in fruits:
        print(item)

displayFruits(fruits = ["mango"])

there are 1 fruits in the list
mango

In [3]:
#3.
def displayStudents(name,age=20,major="DS"):
    print(name)
    print(f"age : {age}")
    print(f"major : {major}")
    
displayStudents("Preetam")

Preetam
age : 20
major : DS

In [4]:
#4.
def displayStudents(name,age=20,major="DS"):
    print(name)
    print(f"age : {age}")
    print(f"major : {major}")
    
displayStudents()

TypeError: displayStudents() missing 1 required positional argument: 'name'

In [5]:
#5.
def displayStudents(name,age=20,major="DS"):
    print(name)
    print(f"age : {age}")
    print(f"major : {major}")
    
displayStudents(Preetam)

NameError: name 'Preetam' is not defined

In [6]:
#6.
def displayStudents(name,age=20,major="DS"):
    print(name)
    print(f"age : {age}")
    print(f"major : {major}")
    
displayStudents("Preetam",30)

Preetam
age : 30
major : DS

In [7]:
#7.
def displayStudents(name,age=20,major="DS"):
    print(name)
    print(f"age : {age}")
    print(f"major : {major}")
    
displayStudents("Preetam",age=45)

Preetam
age : 45
major : DS

In [8]:
# **kwargs --> it receives all the arguments except the keyword arguments as a dictionary

def student(name,**kwargs):
    print(f"name: {name}")
    for key,value in kwargs:
        print(f"{key}: {value}")

student("Preetam",{"age":20,"major":"DS"})

TypeError: student() takes 1 positional argument but 2 were given

In [11]:
# **kwargs
def student(name,**kwargs):
    print(f"name: {name}")
    for key in kwargs:
        print(f"{key}: {kwargs[key]}")

student("Preetam",age=20,major="DS",address="garia",qualifiction="engineer")

name: Preetam
age: 20
major: DS
address: garia
qualifiction: engineer

In [12]:
# *varargs are passed in a funtion as a tuple

def student(name,*varargs):
    print(f"name: {name}")
    for item in varargs:
        print(item)

student("Preetam",(age,20))

NameError: name 'age' is not defined

In [13]:
def student(name,*varargs):
    print(f"name: {name}")
    for item in varargs:
        print(item)

student("Preetam",("age",20))

name: Preetam
('age', 20)

In [14]:
def student(name,*varargs):
    print(f"name: {name}")
    for item in varargs:
        print(item)

student("Preetam","age":20)

SyntaxError: invalid syntax (<ipython-input-14-e7c8852b0b58>, line 6)

In [15]:
def student(name,*varargs):
    print(f"name: {name}")
    for item in varargs:
        print(item)

student("Preetam","age=20")

name: Preetam
age=20

In [16]:
def student(name,*varargs):
    print(f"name: {name}")
    for item in varargs:
        print(item)

student("Preetam",20)

name: Preetam
20

In [18]:
def student(name,*varargs):
    print(f"name: {name}")
    for item in varargs:
        print(item)

student("Preetam",20,"Engineer")
print()
student("Saha","Adress: Garia","DS")

name: Preetam
20
Engineer

name: Saha
Adress: Garia
DS

In [26]:
#Example of parametrs by refrence:

def displayFruits(fruits):
    print(f"there are {len(fruits)} fruit in the list")
    for item in fruits:
        print(item)
    fruits.append("mango")
    print(f"after appending there are {len(fruits)} fruits in the list")
fruits=["banana"]
displayFruits(fruits)

print(fruits)

there are 1 fruit in the list
banana
after appending there are 2 fruits in the list
['banana', 'mango']

In [30]:
student={
    "s1":{
        "name":"Preetam",
        "major":"DS",
        "marks":86
    },
    "S2":{
        "name":"Saha",
        "major":"ML",
        "marks":90
    }
}


def avgGrade(student):
    sum=0.0
    for key in student:
        sum = sum + student[key]["marks"]
        avg = sum/len(student)
    return avg
avgGrade(student)

88.0

In [32]:
student={
    "s1":{
        "name":"Preetam",
        "major":"DS",
        "marks":86
    },
    "S2":{
        "name":"Saha",
        "major":"ML",
        "marks":90
    }
}


def avgGrade(student):
    sum=0.0
    for key in student:
        sum = sum + student[key]["marks"]
        avg = sum/len(student)
    print(f"the avg marks in the class is : {avg}")
avgGrade(student)

the avg marks in the class is : 88.0

In [33]:
student={
    "s1":{
        "name":"Preetam",
        "major":"DS",
        "marks":86
    },
    "S2":{
        "name":"Saha",
        "major":"ML",
        "marks":90
    }
}


def avgGrade(student):
    sum=0.0
    for key in student:
        sum = sum + student[key]["marks"]
        avg = sum/len(student)
    return avg
s=avgGrade(student)
print(s)

88.0

In [41]:
student={
    "s1":{
        "name":"Preetam",
        "major":"DS",
        "marks":86
    },
    "S2":{
        "name":"Saha",
        "major":"ML",
        "marks":90
    }
}


def avgGrade(student):
    sum=0.0
    for key in student:
        sum = sum + student[key]["marks"]
        avg = sum/len(student)
    return avg
s=avgGrade(student)
print(f"the avg marks in the class is : {s:.3f}")

the avg marks in the class is : 88.000

# read-write file

In [44]:
#reading an text file

y = open("file.txt","r")
x=y.read()
print(x)
y.close()

Python supports more than one programming paradigms
including object-oriented programming and structured
programming
Python is an interpreted language and does
not require an explicit complination step.

In [46]:
y = open("file.txt","r")
x= y.readline()
print(x)
y.close()

Python supports more than one programming paradigms

In [48]:
y = open("file.txt","r")
x= y.readline(2)
print(x)
y.close()

Py

In [51]:
y = open("file.txt","r")
x=y.read(55)
print(x)
y.close()

Python supports more than one programming paradigms
inc

In [53]:
#readline only reads 1 line, even if the number of character exceeds the actual no of 
#characters present in the line,never goes to the next line

y = open("file.txt","r")
x= y.readline(60)
print(x)
y.close()

Python supports more than one programming paradigms

In [60]:
y = open("file.txt","r")
x= y.readline()
print(x)

Python supports more than one programming paradigms

In [61]:
#without opening the file means, wrapper / pointer starts from the previous point
z= y.readline()
print(z)
y.close()

including object-oriented programming and structured

In [62]:
#multiple lines
y = open("file.txt","r")
x=y.readlines()
print(x)
y.close()

['Python supports more than one programming paradigms\n', 'including object-oriented programming and structured\n', 'programming\n', 'Python is an interpreted language and does\n', 'not require an explicit complination step.']

In [65]:
y = open("file.txt","r")
x=y.readlines()
for line in x:
    print(line,end="")
y.close()

Python supports more than one programming paradigms
including object-oriented programming and structured
programming
Python is an interpreted language and does
not require an explicit complination step.

In [66]:
#example of seeking a position from where the next line will be read
y= open("file.txt","r")
x=y.seek(10)
z=y.read(15)
print(z)
y.close()

ports more than

In [67]:
#writing the file
y = open("file.txt","w")
x=y.write("Practice before mid term")
print(x)

24

In [71]:
y= open("file.txt","r")
x= y.read()
print(x)
y.close()

Practice before mid term

In [70]:
y = open("file.txt","w")
x=y.write("Practice before mid term")
print(x)
y.close()

24

In [72]:
y= open("file.txt","r")
x= y.read()
print(x)
y.close()

Practice before mid term

In [75]:
content = ["Python supports more than one programming paradigms \n",
"including object-oriented programming and structured \n",
"programming \n",
"Python is an interpreted language and does \n",
"not require an explicit complination step."]

y = open("file.txt","w")
x=y.writelines(content)
print(x)
y.close()

None

In [79]:
y= open("file.txt","r")
x= y.read()
print(x)
y.close()

Python supports more than one programming paradigms
including object-oriented programming and structured
programming
Python is an interpreted language and does
not require an explicit complination step.Practice for mid term

In [87]:
#append mode
y = open("file.txt","a")
x= y.write(" Practice for mid term")
print(x)
y.close()

22

In [88]:
y= open("file.txt","r")
x= y.read()
print(x)
y.close()

Python supports more than one programming paradigms
including object-oriented programming and structured
programming
Python is an interpreted language and does
not require an explicit complination step.Practice for mid term
 Practice for mid termPractice for mid term

Practice for mid term Practice for mid term

In [91]:
#factorial 

def fac(n):
    if n ==0:
        return 1
    elif n==1:
        return 1
    else:
        return n*fac(n-1)

fac(5)

120

In [94]:
#fibonacci
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

fib(6)

8

In [98]:
def fact_test1(n):
    space = " "*(4*n)
    print(f"{space} factorial {n}")
fact_test1(2)
fact_test1(4)

         factorial 2
                 factorial 4

In [106]:
def fact(n):
    space = " " * (4*n)
    print(f"{space} factorial {n}")
    if n==0:
        print(f"{space} returning 1")
        return 1
    else:
        recurse = fact(n-1)
        result = n * recurse
        print(f"{space} returning {result}")
        return result

fact(3)

             factorial 3
         factorial 2
     factorial 1
 factorial 0
 returning 1
     returning 1
         returning 2
             returning 6

6

In [108]:
#check palindrome
def is_palindrome(str):
    i = 0
    j = len(str)-1
    while i<j:
        if str[i]!=str[j]:
            return False
        else:
            i += 1
            j -= 1
    return True

is_palindrome("ABBA")

True

In [109]:
is_palindrome("AByBA")

True

In [112]:
def is_palindrome1(str):
    for i in range(len(str)//2):
        if str[i] == str[len(str)-1-i]:
            return True
        else:
            return False
is_palindrome1("ABBA")

True

In [113]:
is_palindrome1("AByBA")

True

In [110]:
def is_palindrome2(str):
    if str[:]==str[::-1]:
        return True
    else:
        return False
is_palindrome2("ABBA")

True

In [111]:
is_palindrome2("AByBA")

True

In [115]:
#Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). 
#Then the function needs to print the last 5 elements in the list.

def printLastFive(n1,n2):
    lst = []
    for i in range(n1,n2+1):
        lst.append(i**2)
    print(lst[-5:])
printLastFive(1,20)

[256, 289, 324, 361, 400]

In [116]:
#With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line 
#and the last half values in one line.

t=(1,2,3,4,5,6,7,8,9,10)
def twoLines(lst):
    lst = list(t)
    print(lst[:5])
    print(lst[-5:])
twoLines(t)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [119]:
#Write a program to compute:
#f(n)=f(n-1)+100 when n>0 and f(0)=1
#with a given n input by console (n>0).

def func(n):
    if n==0:
        return 1
    else:
        return func(n-1) + 100

n = int(input("Enter a num: "))
func(n)

Enter a num: 6

601

In [126]:
#Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

def sumFunc(n):
    sum = 0.0
    for i in range(1,n+1):
        sum = sum + float(i/(i+1))
    return sum
n = int(input("Enter a num: "))
sumFunc(n)

Enter a num: 5

3.5500000000000003

In [122]:
1/2+2/3+3/4+4/5+5/6

3.5500000000000003

In [133]:
#Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and 
#the object is in ["Hockey","Football"].

subjects = ["I", "You"]
verbs = ["Play", "Love"]
objects = ["Hockey","Football"]

for i in range(len(subjects)):
    for j in range(len(verbs)):
        for k in range(len(objects)):
            print(f"{subjects[i]} {verbs[j]} {objects[k]}")

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

In [139]:
#By using list comprehension, please write a program to print the list after removing 
#the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

lst = [12,24,35,70,88,120,155]
for index,i in enumerate(lst):
    if index%2 != 0:
        print(i)

24
70
120

In [152]:
#Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and 
#rabbits in a farm. 
#How many rabbits and how many chickens do we have?

def solve(heads,legs):
    if (heads>=legs):
        print("Error in typing")
    elif (legs%2!=0):
        print("Error in typing")
    else:
        rabbit = (legs-2*heads)/2
        chicken = heads - rabbit 
        print(f"rabbit: {int(rabbit)},chicken: {int(chicken)}")
heads = int(input("heads: "))
legs = int(input("legs: "))

solve(heads,legs)

heads: 45
legs: 74
rabbit: -8,chicken: 53

In [143]:
#Please write a program which prints all permutations of [1,2,3]

from itertools import permutations
x = permutations([1,2,3])
for i in list(x):
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [145]:
#Please write a program which prints all combinations of [1,2,3]

from itertools import combinations
x = combinations([1,2,3],2)
for i in list(x):
    print(i)

(1, 2)
(1, 3)
(2, 3)

In [3]:
#Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and 
#rabbits in a farm. 
#How many rabbits and how many chickens do we have?

def solve(heads,legs):
    error = "Error in typing"
    chicken_count = 0
    rabbit_count = 0
    ans = False
    for x in range(heads+1):
        y = heads - x
        if 2*x + 4*y == legs:
            chicken_count = x
            rabbit_count = y
            ans = True
            break
    if ans == True:
        print(f"rabbit: {int(rabbit_count)},chicken: {int(chicken_count)}")
    else:
        print(error)
    
        
heads = int(input("heads: "))
legs = int(input("legs: "))

solve(heads,legs)

heads: 45
legs: 80
Error in typing

In [172]:
#Problem Statement
#Given a list of integer values. Write a python program to check whether it contains same 
#number in adjacent position. Display the count of 
#such adjacent occurrences


def get_count(num_list):
    count=0

    for i in range(len(num_list)-1):
        if(num_list[i]==num_list[i+1]):
            count+=1

    return count

#provide different values in list and test your program
num_list=[1,1,5,100,-20,-20,6,0,0]
print(get_count(num_list))

3

# TimeSeries

In [2]:
from datetime import datetime
now = datetime.now()
print(now)

2022-03-13 20:06:48.324271

In [4]:
now.day

13

In [5]:
now.month

3

In [6]:
now.year

2022

In [7]:
now.day,now.month,now.year

(13, 3, 2022)

In [8]:
delta = datetime(2022,3,22) - datetime(2022,2,15)
print(delta)

35 days, 0:00:00

In [9]:
delta1 = datetime(2022,3,22) - datetime(2022,2,15,8,15)
print(delta1)

34 days, 15:45:00

In [10]:
delta1

datetime.timedelta(days=34, seconds=56700)

In [13]:
delta1.days

34

In [14]:
delta1.seconds

56700

In [16]:
#add or subtract a timedelta 

from datetime import timedelta
start = datetime(2022,3,15)
next = start + timedelta(12)
next

datetime.datetime(2022, 3, 27, 0, 0)

In [17]:
next1 = start  + 2* timedelta(12)
next1

datetime.datetime(2022, 4, 8, 0, 0)

In [18]:
stamp = datetime(2022,3,23)
stamp

datetime.datetime(2022, 3, 23, 0, 0)

In [19]:
str(stamp)

'2022-03-23 00:00:00'

In [23]:
stamp.strftime("%d-%m-%Y")

'23-03-2022'

In [24]:
value = "2022-03-22"
date1=datetime.strptime(value,"%Y-%m-%d")
date1

datetime.datetime(2022, 3, 22, 0, 0)

In [26]:
from dateutil.parser import parse
parse(value)

datetime.datetime(2022, 3, 22, 0, 0)

In [27]:
parse("Jan 15,2022 11:45 PM")

datetime.datetime(2022, 1, 15, 23, 45)

In [28]:
parse("6/12/2022",dayfirst=True)

datetime.datetime(2022, 12, 6, 0, 0)

In [29]:
parse("6/12/2022")

datetime.datetime(2022, 6, 12, 0, 0)

# List vs Dict

In [30]:
# use a dictionary because lookups are faster.
#Use a list if you need to store the order of something.
# Is a list mutable?
#Yes. Notice in the code below how the value associated with the same identifier in memory has not changed.


x = [2,3,4]
print(id(x))

2787227515008

In [31]:
#append and extent ,so list is mutable but memory location doesnot change
x.append(5)
x.extend([7,8])
x

[2, 3, 4, 5, 7, 8]

In [32]:
print(id(x))

2787227515008

In [33]:
#append vs extend
#appending a list adds that whole list as a single element, rather than appending each of its values.
#So extending a list with another list combines their values.

x.append([11,20])
x

[2, 3, 4, 5, 7, 8, [11, 20]]

In [34]:
x.extend([34,56])
x

[2, 3, 4, 5, 7, 8, [11, 20], 34, 56]

In [35]:
#del removes an item from a list given its index.
del x[1]
x

[2, 4, 5, 7, 8, [11, 20], 34, 56]

In [41]:
#remove vs pop
#.remove() removes the first instance of a matching object.
#.pop() removes an object by its index.

a = [1,1,2,5,2,3,3]
a.remove(2)
a

[1, 1, 5, 2, 3, 3]

In [42]:
a.pop(2)
a

[1, 1, 2, 3, 3]

In [43]:
#By default, pop removes the last element from a list if an index isn’t specified.
a.pop()
a

[1, 1, 2, 3]

In [44]:
#The difference between pop and del is that pop returns the popped element.
# del doesnot return any value where pop returns the returned value
x = [1,2,3]
del x[1]

In [45]:
x

[1, 3]

In [46]:
x.pop(1)

3

In [48]:
#For example, you want to find the first “apple” in a list of fruit. Use the .index() method.
fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear']
fruit.index('apple')

2

In [49]:
x = [1,2,3,4,5,6,6,7,7,7,8]
x.index(7)

7

In [50]:
#. Count the occurrence of a specific object in a list
x = [1,2,3,4,5,6,6,7,7,7,8]
x.count(7)

3

In [52]:
#. Why create a shallow copy of a list?
#Building off the previous example, modifying round2 will modify round1 if we don’t create a shallow copy

round1 = ['chuck norris', 'bruce lee', 'sonny chiba']
round2 = round1.copy()
round2.remove("sonny chiba")
print(round1)
print(round2)

['chuck norris', 'bruce lee', 'sonny chiba']
['chuck norris', 'bruce lee']

In [64]:
x= [1,2,3]
y = x
x[0]=8
print(x,id(x))
print(y,id(y))

[8, 2, 3] 2787226961280
[8, 2, 3] 2787226961280

In [67]:
#shallow copy --> 
import copy
x= [1,2,3]
y = copy.copy(x)
x[0]=8
print(x,id(x))
print(y,id(y))
#It seems as if new_groups was a completely independent copy of groups. But let’s take it a step further to see that it’s not.
print(id(x[0]))
print(id(y[0]))

[8, 2, 3] 2787226971776
[1, 2, 3] 2787226980672
140713654364176
140713654363952

In [69]:
#deep copy
import copy
x= [1,2,3]
y = copy.deepcopy(x)
x[0] =8
print(x,id(x))
print(y,id(y))
print(id(x[0]))
print(id(y[0]))

[8, 2, 3] 2787226829440
[1, 2, 3] 2787226829824
140713654364176
140713654363952

In [71]:
#. Count occurrences of each value in a list

l= [1,2,3,4,4,5,67,7,5,3,2,5,6]
l.count(4)

2

In [73]:
from collections import Counter 
Counter(l)

Counter({1: 1, 2: 2, 3: 2, 4: 2, 5: 3, 67: 1, 7: 1, 6: 1})

In [74]:
# 41. What is the time complexity of insert, find and delete for a list?
# Insert is O(n). If an element is inserted at the beginning, all other elements must be shifted right.
# Find by index is O(1). But find by value is O(n) because elements need to be iterated over until the value is found.
# Delete is O(n). If an element is deleted at the beginning, all other elements must to be shifted left.

In [116]:
## You are given an integer N. You need to print the series of all prime numbers till N.

inp = int(input("Enter a num: "))
if inp < 2:
    print(f"Couldnot found any prime below {inp}")
elif inp ==2:
    print("2",end = " ")
else:
    print("2",end = " ")
    for i in range(3,inp+1):
        check = 0
        for j in range(2, int(i/2)+1):
            if i%j == 0:
                check = 1
                break
        if check == 0:
            print(i,end = " ")

Enter a num: 16
2 3 5 7 11 13

In [118]:
import math

userInput = int(input())
if userInput > 2:
    print("2",end = ' ')
for i in range(3, userInput + 1):
    check = 0
    for j in range(2, int(math.sqrt(i)+1)):
        if i % j == 0:
            check = 1
            break
    if check == 0:
        print(i, end = ' ')

16
2 3 5 7 11 13

In [120]:
inp = int(input("Enter a num: "))
if inp < 2:
    print(f"Couldnot found any prime below {inp}")
elif inp ==2:
    print("2",end = " ")
else:
    print("2",end = " ")
    for i in range(3,inp+1):
        check = 0
        for j in range(2, int(i)):
            if i%j == 0:
                check = 1
                break
        if check == 0:
            print(i,end = " ")

Enter a num: 16
2 3 5 7 11 13

In [123]:
## You have been given an array A of size N consisting of positive integers. You need to find and print the product of all
# the number in this array

inp = int(input("Enter a num: "))
lst = []
for i in range(inp):
    user_input = int(input("Enter a num: "))
    lst.append(user_input)
print(lst)
p = 1
for i in lst:
    p = p*i
print("Product of the elemnts of the array",p)

Enter a num: 5
Enter a num: 2
Enter a num: 4
Enter a num: 6
Enter a num: 8
Enter a num: 10
[2, 4, 6, 8, 10]
Product of the elemnts of the array 3840

In [124]:
2*4*6*8*10

3840

In [134]:
#Python Program to find largest element in an array

def largest(lst):
    num=0
    maxnum = 0
    for i in range(len(lst)):
        if lst[i]>num:
            maxnum = lst[i]
    return maxnum
largest([2,3,4,5,5])

5

In [133]:
lst = [2,3,4,5,4,4,12,2]
max(lst)

12

In [137]:
from datetime import datetime
now=datetime.now()
now

datetime.datetime(2022, 3, 13, 23, 11, 15, 393309)

In [138]:
now.day

13

In [139]:
now.month

3

In [140]:
now.year

2022

In [141]:
now.second

15

In [142]:
now.strftime("%A")

'Sunday'

In [144]:
now.strftime("%B")

'March'

In [145]:
now.strftime("%D")

'03/13/22'

In [147]:
now.strftime("%d")

'13'

In [148]:
now.strftime("%m")

'03'

In [160]:
#Python Program to check if given array is Monotonic

def check_monotinic(lst):
    lst1 = []
    for i in range(len(lst)-1):
        s = lst[i] - lst[i+1]
        if s>0:
            lst1.append("Positive")
        elif s==0:
            lst1.append("Zero")
        else:
            lst1.append("Negative")
    freq = dict()
    for i in ["Positive","Zero","Negative"]:
        freq[i] = lst1.count(i)
    if freq["Positive"] >0 and freq["Negative"] >0:
        return False
    else:
        return True

In [157]:
check_monotinic([2,3,4,5,6])

True

In [158]:
check_monotinic([2,3,4,2,6])

False

In [161]:
check_monotinic([2,3,4,5,5,6])

True

In [162]:
list("preetam")

['p', 'r', 'e', 'e', 't', 'a', 'm']

In [202]:
def fib(n):
    a = 0
    b = 1
    for i in range(n):
        print(a,b,a+b)
        a,b = b,a+b

In [203]:
fib(8)

0 1 1
1 1 2
1 2 3
2 3 5
3 5 8
5 8 13
8 13 21
13 21 34

In [182]:
def nums(num,*varargs):
    print(f"num : {num}")
    for item in varargs:
        print(item)

In [183]:
nums(5,5**2,5**3)

num : 5
25
125

In [195]:
def nums(num,**kwargs):
    print(f"num : {num}")
    for i in kwargs:
        print(f"{i}:{kwargs[i]}")

In [197]:
nums(5,square=5**2,cube=5**3)

num : 5
square:25
cube:125

In [201]:
def fruits(name,color="red",price=55):
    print(f"name: {name}")
    print(f"color: {color}")
    print(f"price: {price}")
fruits("banana","red",89)

name: banana
color: red
price: 89

In [213]:
def isPalindrome(str):
 
    # Run loop from 0 to len/2
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
 
# main function
s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

In [215]:
def is_palindrome(word):
    i = 0
    j = len(word) - 1
    
    while i < j:
        if word[i] != word[j]:
            print("not")
        i = i + 1
        j = j - 1
    print("yes")
b = "Praxis"

is_palindrome(b)

not
not
not
yes

In [220]:
word = "Paeetam"
i = 0
j = len(word) - 1
while i < j:
    if word[i] != word[j]:
        print("not")
    i = i + 1
    j = j - 1

not
not

In [223]:

# Python program to find smallest
# number in a list
 
# list of numbers
list1 = [10, 20, 4, 45, 99]
 
# sorting the list
list1.sort()
list1

[4, 10, 20, 45, 99]

In [224]:
list1[0]

4

In [226]:

# python program to check if x is a perfect square
import math
 
# A utility function that returns true if x is perfect square
def isPerfectSquare(x):
    s = int(math.sqrt(x))
    return s*s == x

isPerfectSquare(26)

False

In [230]:
l = [1000,298,3579,100,200,-45,900]

l.sort()
l

[-45, 100, 200, 298, 900, 1000, 3579]

In [232]:
l[-4]

298

In [233]:
l[-4:]

[298, 900, 1000, 3579]

In [243]:
list1 = [12, -7, 5, 64, -14]
for num in list1:
    if num<0:
        print(num,end = " ")

-7 -14

In [245]:
l = [2,3,5,2,9]
l.remove(2)
l

[3, 5, 2, 9]

In [248]:
list1 = [11, 5, 17, 18, 18, 23, 50]
 
# Iterate each element in list
# and add them in variable total
lst2 = []
for i in list1:
    if i%2 != 0:
        lst2.append(i)
print(lst2)

[11, 5, 17, 23]

In [253]:
#Python program to print even length words in a string
inp = input()
sentence = inp.split(" ")
for word in sentence:
    if len(word)%2 == 0:
        print(word,end = " ")

i am a hoof
am hoof

In [251]:
inp = input()
x=inp.split(" ")
print(x)

i am a boy
['i', 'am', 'a', 'boy']

In [252]:
list("pree")

['p', 'r', 'e', 'e']

In [271]:
from collections import Counter
word = "ghgyttrcgfcgsersccvgfhgfcvvbghgh"
x=Counter(word)
print(x)
for value in x.values():
    print(value,end=" ")
print()
for key in x.keys():
    print(key,end=" ")

Counter({'g': 8, 'c': 5, 'h': 4, 'f': 3, 'v': 3, 't': 2, 'r': 2, 's': 2, 'y': 1, 'e': 1, 'b': 1})
8 4 1 2 2 5 3 2 1 3 1
g h y t r c f s e v b

8

In [273]:
print(max(x.values()))

8

In [280]:
def remove_empty_tuples(lst1):
    lst=[]
    for item in lst1:
        if item:
            lst.append(item)
    return lst
lst1 = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
print(remove_empty_tuples(lst1))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]